.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
/* .condiv class is for the right side content container*/
.condiv {
  padding: 100px ;
  background-color: #eee;
  flex:var(--condiv-flex);
}

/* .widecard {
  display: flex;
  margin:30px 0px 30px 0px;
  width: 80%;
} */

/* .widecard:hover {
  color: #1b1d20;
  padding: 2px;
  background-color: #fafafa;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} */

.card {
  margin: 40px 85px 40px 0px;
  display: inline-block;
  width: 310px;
  box-shadow: 10px 5px 25px 7px grey;
}

.card-header {
  height: 150px;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.card-body {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.body-content {
  padding: 30px 0 30px 0;
  font-size: 18px;
  line-height: 1.5;
}

.category {
  text-transform: uppercase;
  margin: 0;
  color: darkgrey;
}

.button-primary {
  text-decoration: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color:  rgb(189, 1, 129);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-primary:hover {
  color:#680270;
}

.button-primary i {
  padding-right: 4px;
}


@media screen and (max-width: 480px){
  .project {
    padding: 20% 10px 20px 18px;
  }

  .subtopic {
    font-size: 1.5rem;
  }

  .card {
    width: 295px;
    margin: 40px 85px 10px 0px;
  }
}